# Python-specific ignores
*.pyc
*.pyo
__pycache__/
*.pyd
*.env

# Django-specific ignores
db.sqlite3
media/
*.log

# Virtual Environment
venv/
.env

# IDE and Editor-specific ignores
.vscode/
.idea/
*.swp

# Docker
*.pid
*.tar
*.log
.dockerignore

# Node modules (if applicable in the future)
node_modules/

# Build files
dist/
build/

# System files
.DS_Store
Thumbs.db
